<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wanglonghai.wlhsystem.dao.WlhArticleMapper" >
  <resultMap id="BaseResultMap" type="com.wanglonghai.wlhsystem.entity.WlhArticle" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="auth_name" property="authName" jdbcType="VARCHAR" />
    <result column="logo_picurl" property="logoPicurl" jdbcType="VARCHAR" />
    <result column="publish_time" property="publishTime" jdbcType="TIMESTAMP" />
    <result column="keyword" property="keyword" jdbcType="VARCHAR" />
    <result column="hits" property="hits" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.wanglonghai.wlhsystem.entity.WlhArticle" extends="BaseResultMap" >
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, title, auth_name, logo_picurl, publish_time, keyword, hits
  </sql>
  <sql id="Blob_Column_List" >
    content
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from wlh_article
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from wlh_article
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wanglonghai.wlhsystem.entity.WlhArticle" >
    insert into wlh_article (id, title, auth_name, 
      logo_picurl, publish_time, keyword, 
      hits, content)
    values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{authName,jdbcType=VARCHAR}, 
      #{logoPicurl,jdbcType=VARCHAR}, #{publishTime,jdbcType=TIMESTAMP}, #{keyword,jdbcType=VARCHAR}, 
      #{hits,jdbcType=INTEGER}, #{content,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wanglonghai.wlhsystem.entity.WlhArticle" >
    insert into wlh_article
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="authName != null" >
        auth_name,
      </if>
      <if test="logoPicurl != null" >
        logo_picurl,
      </if>
      publish_time,
      <if test="keyword != null" >
        keyword,
      </if>
        hits,
      <if test="content != null" >
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="authName != null" >
        #{authName,jdbcType=VARCHAR},
      </if>
      <if test="logoPicurl != null" >
        #{logoPicurl,jdbcType=VARCHAR},
      </if>
      now(),
      <if test="keyword != null" >
        #{keyword,jdbcType=VARCHAR},
      </if>
      0,
      <if test="content != null" >
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wanglonghai.wlhsystem.entity.WlhArticle" >
    update wlh_article
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="authName != null" >
        auth_name = #{authName,jdbcType=VARCHAR},
      </if>
      <if test="logoPicurl != null" >
        logo_picurl = #{logoPicurl,jdbcType=VARCHAR},
      </if>
      <if test="publishTime != null" >
        publish_time = #{publishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="keyword != null" >
        keyword = #{keyword,jdbcType=VARCHAR},
      </if>
      <if test="hits != null" >
        hits = #{hits,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.wanglonghai.wlhsystem.entity.WlhArticle" >
    update wlh_article
    set title = #{title,jdbcType=VARCHAR},
      auth_name = #{authName,jdbcType=VARCHAR},
      logo_picurl = #{logoPicurl,jdbcType=VARCHAR},
      publish_time = #{publishTime,jdbcType=TIMESTAMP},
      keyword = #{keyword,jdbcType=VARCHAR},
      hits = #{hits,jdbcType=INTEGER},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wanglonghai.wlhsystem.entity.WlhArticle" >
    update wlh_article
    set title = #{title,jdbcType=VARCHAR},
      auth_name = #{authName,jdbcType=VARCHAR},
      logo_picurl = #{logoPicurl,jdbcType=VARCHAR},
      publish_time = #{publishTime,jdbcType=TIMESTAMP},
      keyword = #{keyword,jdbcType=VARCHAR},
      hits = #{hits,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>